[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
rope = "*"

[packages]
autopep8 = "*"
Django = "*"
django-filter = "*"
djangorestframework = "*"
Markdown = "*"
Pillow = "*"
pycodestyle = "*"
pytz = "*"
rope = "*"

[requires]
python_version = "3.7"
